@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@400;700&family=Noto+Sans+Mono:wght@300&family=Noto+Serif:ital,wght@0,400;0,700;1,700&family=Open+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600&display=swap');

footer{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: 'Poppins',sans-serif;
    margin-top: 6rem;
    img{
        width: 230px;
        margin-top: 17px;
    }
    div{
        display: flex;
        flex-direction: column;
        h5{
            font-weight: 700;
            font-size: x-large;
        }
        p{
            margin: 1.5rem 0 0 0;
        }
        a{
            text-decoration: none;
            padding: 10px 0;
            margin: 1.5rem 0 0 0;
            color: #95a7dd;
            &:hover{
                background: #5677db;
                padding: 10px;
                border-radius: 6px;
            }
        } 
    }
}