@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@400;700&family=Noto+Sans+Mono:wght@300&family=Noto+Serif:ital,wght@0,400;0,700;1,700&family=Open+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600&display=swap');

.oficinas{
    font-family: 'Poppins',sans-serif;
    background: url("../img/oficinas.jpg");
    width: 80%;
    height: 50vh;
    border-radius: 50px;
    margin: 5rem auto;
    box-shadow: 10px 10px 34px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 10px 10px 34px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 34px 3px rgba(0,0,0,0.3);

}